@keyframes flash {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 6)); // half of the amount of slides
  }
}

@keyframes fade-in-left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fade-out-right-to-left {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-5%);
    opacity: 0;
  }
}
