.main-footer {
  background-color: $gray-100;
  margin-top: 5rem;
  padding-top: 5rem;

  .footer-list-wrap h4 {
    color: $gray-600;
    font-size: 0.7rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-transform: uppercase;
  }
  &__upper {
  }
  &__lower {
    margin-top: 2rem;

    &__copyright {
      color: $gray-500;
      font-size: 0.7rem;
    }
  }
}
